<!-- ================= PARTIE RECHERCHE DES ENCAISSEMENTS PAR CRITERES ========== -->

<div *ngIf="check_fonct('l_encaissement')">
    <form [formGroup]="addForm">

        <div class="col-lg-5">
            <nb-card>
                <nb-card-header style="background-color: rgb(7, 66, 124);color:white">
                    Les critères de recherche des encaissements
                </nb-card-header>
            </nb-card>

            <button class="encaissements_annules" (click)="onOpenEncaissementsAnnules()">
                Encaissements annulés
            </button><br>
        </div>

        <div class="tabs">
            <input type="radio" name="tabs" id="tabone" checked="checked" (click)="onClickPeriode()">
            <label for="tabone" class="lab">Période</label>
            <div class="tab">

                <p class="paraProblemeSaisi" *ngIf="problemeDate">
                    La date de début doit être inférieure ou égale à la date de fin
                </p>
                <p class="paraProblemeSaisi" *ngIf="problemeDateFin">La date de fin doit être inférieure ou égale à la
                    date du jour
                </p>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Début </label> <!-- <span class="obligatoire">*</span></label> -->
                            <input type="date" formControlName="date_debut" nbInput fullWidth
                                (focusout)="onFocusOutEventDate($event)" [ngStyle]="{border: getColorDate()}">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Fin </label> <!-- <span class="obligatoire">*</span></label> -->
                            <input type="date" formControlName="date_fin" nbInput fullWidth
                                (focusout)="onFocusOutEventDate($event)" [ngStyle]="{border: getColorDate()}">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabtwo" (click)="onClickProduit()">
            <label for="tabtwo" class="lab">Produit</label>
            <div class="tab">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="label">Produit</label>
                            <mat-select class="form-control" [formControl]="produitCtrl"
                                placeholder="choisir un produit" (selectionChange)="onChangeProduit($event)" fullWidth
                                #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="produitFilterCtrl"
                                        placeholderLabel="recherche..." noEntriesFoundLabel="aucune corespondance ..">
                                    </ngx-mat-select-search>
                                </mat-option>

                                <mat-option value="{{produit.prod_numero}}"
                                    *ngFor="let produit of filteredProduit  | async">
                                    {{produit.prod_numero}} : {{produit.prod_denominationlong}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabthree" (click)="onClickIntermediaire()">
            <label for="tabthree" class="lab">Intermediaire</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="label">Numero Intermédiaire</label>
                            <mat-select class="form-control" [formControl]="intermediaireCtrl"
                                placeholder="choisir un Intermediaire" (selectionChange)="onChangeItermediaire($event)"
                                fullWidth #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="intermediaireFilterCtrl"
                                        placeholderLabel="recherche..." noEntriesFoundLabel="aucune corespondance ..">
                                    </ngx-mat-select-search>
                                </mat-option>

                                <mat-option value="{{inter.inter_numero}}"
                                    *ngFor="let inter of filteredIntermediaire | async">
                                    {{inter.inter_numero}}: {{inter.inter_denomination}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ================= PARTIE CONSULTATION DES ENCAISSEMENTS A EDITER ================== -->
            <input type="radio" name="tabs" id="tabfour" *ngIf="!check">
            <input type="radio" name="tabs" id="tabfour" checked="checked" *ngIf="check">
            <label for="tabfour" class="lab">Résultat</label>
            <div class="tab">
                <div class="row">

                    <br><br>
                    <div class='contenu_resultat' *ngIf="check_fonct('l_encaissement')">
                        <!-- <mat-card> -->
                        <div>
                            <div fxLayout fxLayoutAlign="center center">

                                <mat-card-header class="card-header">
                                    <span class="header">{{ title }}</span>

                                    <div>
                                        <button class="buttons_export" mat-button
                                            [matMenuTriggerFor]="menu">Export</button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="onExport('pdf')">
                                                PDF
                                            </button>
                                            <button mat-menu-item (click)="onExport('excel')">
                                                EXCEL
                                            </button>
                                        </mat-menu>
                                    </div>
                                </mat-card-header>

                            </div>
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="encai_numeroencaissement">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro Encai </th>
                                    <td mat-cell *matCellDef="let encaissement">
                                        {{encaissement.encai_numeroencaissement}} </td>
                                </ng-container>
                                <ng-container matColumnDef="encai_numeropolice">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Police </th>
                                    <td mat-cell *matCellDef="let encaissement"> {{encaissement.encai_numeropolice}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="encai_numerofacture">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Facture </th>
                                    <td mat-cell *matCellDef="let encaissement"> {{encaissement.encai_numerofacture}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="encai_souscripteur">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> souscripteur</th>
                                    <td mat-cell *matCellDef="let encaissement">
                                        {{encaissement.clien_nom}} {{encaissement.clien_denomination}}
                                        {{encaissement.clien_prenom}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="encai_datepaiement">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date encaissement </th>
                                    <td mat-cell *matCellDef="let encaissement">
                                        {{encaissement.encai_datepaiement | date: 'dd-MM-yyyy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="encai_mtnquittance">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mtn quittance </th>
                                    <td mat-cell *matCellDef="let encaissement"> {{encaissement.encai_mtnquittance |
                                        ngxNumberWithCommas}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="encai_solde">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Solde </th>
                                    <td mat-cell *matCellDef="let encaissement"> {{encaissement.encai_solde}} </td>
                                </ng-container>
                                <ng-container matColumnDef="encai_datecomptabilisation">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date compta </th>
                                    <td mat-cell *matCellDef="let encaissement">
                                        {{encaissement.encai_datecomptabilisation}} </td>
                                </ng-container>
                                <ng-container matColumnDef="details">
                                    <th mat-header-cell *matHeaderCellDef> Details </th>
                                    <td mat-cell *matCellDef="let encaissement">
                                        <button mat-icon-button color="primary" (click)="open(dialog,encaissement)">
                                            <mat-icon class="mat-18">reorder</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            </table>

                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 15, 20]">
                            </mat-paginator>
                            <!-- </mat-card> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button nbButton status="success" [disabled]='erreur' (click)="onConsulter()">Consulter</button>&nbsp;&nbsp;
            <button nbButton status="danger" (click)="onReinitialiser()">Réinitialiser</button>&nbsp;&nbsp;
        </div>
    </form>
</div>

<!-- Details des encaissements -->

<ng-template #dialog let-encaissement let-ref="dialogRef">

    <nb-card>
        <nb-card-header style="background-color: rgb(7, 66, 124);color:white">
            Détails des encaissements
        </nb-card-header>
        <nb-card-body>

            <div class="row">
                <div class="col-sm-4">
                    <h5 class="grid-h">Informations</h5>
                    <div><span class="detail">Numero encaissement:</span> {{
                        encaissement.encai_numeroencaissement }}
                    </div><br>
                    <div><span class="detail">souscripteur :</span>
                        {{encaissement.clien_nom}} {{encaissement.clien_denomination}}
                        {{encaissement.clien_prenom}}
                    </div><br>
                    <div><span class="detail">Numéro police :</span>
                        {{ encaissement.encai_numeropolice }}
                    </div><br>
                    <div><span class="detail">Numero Facture :</span>
                        {{ encaissement.encai_numerofacture }}
                    </div><br>
                    <div><span class="detail">Date encaissement :</span>
                        {{ encaissement.encai_datepaiement | date: 'dd-MM-yyyy' }}
                    </div><br>
                    <!-- <div><span class="detail">Type Quittance:</span> {{ encaissement.encai_typquittance}}</div>
<br> -->
                </div>
                <div class="col-sm-4">
                    <h5 class="grid-h">Encaissement</h5>
                    <div><span class="detail">Montant quittance :</span> {{
                        encaissement.encai_mtnquittance |
                        ngxNumberWithCommas}}</div><br>
                    <div><span class="detail">Montant payé :</span> {{
                        encaissement.encai_mtnpaye |
                        ngxNumberWithCommas}}</div><br>
                    <div><span class="detail">Solde :</span> {{ encaissement.encai_solde }}
                    </div><br>
                    <!-- <div><span class="detail">type de encaissement :</span> {{
    encaissement.encai_typencaissement }}</div><br> -->
                    <div><span class="detail">code banque/Op. marchand :</span> {{
                        encaissement.encai_codebanque
                        }}</div><br>
                    <div><span class="detail">numéro chèque/traite :</span> {{
                        encaissement.encai_numerocheque
                        }}</div><br>

                </div>
                <div class="col-sm-4">
                    <h5 class="grid-h">Comptabilisation</h5>
                    <div><span class="detail">Date Comptabilisation:</span> {{
                        encaissement.encai_datecomptabilisation | date: 'dd-MM-yyyy' }}
                    </div><br>
                    <!-- <div><span class="detail">Code trait. encaissement :</span> {{
    encaissement.encai_codetraitement }}</div><br>
<div><span class="detail">Code utilisateur :</span> {{ encaissement.encai_codeutilisateur }}
</div><br>
<div><span class="detail">Date de modification:</span> {{ encaissement.encai_datemiseajour |
    date: 'dd-MM-yyyy' }}</div><br>
<div><span class="detail">Status de l'encaissement :</span> {{ encaissement.encai_status }}
</div><br> -->
                </div>

            </div>

        </nb-card-body>
        <nb-card-footer>
            <div style="text-align:center">
                <button nbButton (click)="ref.close()" status="danger">Fermer</button>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>

<!-- Check sur les autorisations d'accès -->
<div *ngIf="check_fonct('l_encaissement')==false">
    <ngx-page-not-autoriser></ngx-page-not-autoriser>
</div>