.tailleLegend {
  font-size: 20px;
}

.fieldset {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1px 10px 1px 10px;
}

nb-card-header{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(7, 66, 124);
  color: white;
  font-size: 120%;
}

h5{
  color: rgb(7, 66, 124);;
}
