<div *ngIf="check_fonct('c_branche')">
<form [formGroup]="addForm">

    <div class="col-lg-4">
        <nb-card>
            <nb-card-header id="titre_entete">Ajouter une branche</nb-card-header>
        </nb-card>
    </div>

    <p class="paraProblemeSaisi" *ngIf="problemeNumeroBranche">
        Le numéro de la branche est obligatoire et différent de 0
    </p>
    <p class="paraProblemeSaisi" *ngIf="problemeLibelleLong">
        Le Libellé long est obligatoire
    </p>
    <p class="paraProblemeSaisi" *ngIf="problemeLibelleCourt">
        Le Libellé court est obligatoire
    </p>

    <div class="row">
        <div class="col-lg-12">
            <nb-card>
                <nb-card-header>Branche</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="label">Numéro branche <span class="obligatoire">*</span></label>
                                <input min="0" formControlName="branche_numero" type="number" nbInput fullWidth
                                    id="branche_numero" (focusout)="onFocusOutEventNumBranche()" [ngStyle]="{border: getColorNumeroBranche()}">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="" class="label">Libellé long <span class="obligatoire">*</span></label>
                                <input formControlName="branche_libelleLong" type="text" nbInput fullWidth
                                    id="branche_libelleLong" (focusout)="onFocusOutEventLibelleLong()" [ngStyle]="{border: getColorLibelleLong()}">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="label">Libellé court <span class="obligatoire">*</span></label>
                                <input formControlName="branche_libellecourt" type="text" nbInput fullWidth
                                    id="branche_libellecourt" (focusout)="onFocusOutEventLibelleCourt()" [ngStyle]="{border: getColorLibelleCourt()}">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="label">code du taxe <span class="obligatoire">*</span></label>
                                <nb-select (selectedChange)="onChangeTaxe($event)" fullWidth id="branche_codetaxe">
                                    <nb-option value="{{taxe.taxe_codetaxe}}" *ngFor="let taxe of listeCodeTaxe">
                                        {{taxe.taxe_codetaxe}}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="label">Classe analytique</label>
                                <input min="0" formControlName="branche_classeanalytique" type="number" nbInput fullWidth
                                    id="branche_classeanalytique">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="label">code de la commission</label>
                                <nb-select (selectedChange)="onChangeCommission($event)" fullWidth
                                    id="branche_codecommission">
                                    <nb-option value="{{commission.comm_code}}"
                                        *ngFor="let commission of listeCodeCommission">{{commission.comm_code}}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="label">Périodicité </label>
                                <nb-select (selectedChange)="onChange($event)" fullWidth
                                    id="branch_periodicite_compabilisation">
                                    <nb-option value="ANNUEL">Annuel</nb-option>
                                    <nb-option value="SEMESTRIEL">Semestriel</nb-option>
                                    <nb-option value="TRIMESTRIEL">Trimestriel</nb-option>
                                    <nb-option value="MENSUEL">Mensuel</nb-option>
                                    <nb-option value="JOURNALIER">Journalier</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton status="success" (click)="onSubmit()" [disabled]='!addForm.valid || erreur'>
                        Ajouter
                    </button>&nbsp;&nbsp;
                    <button class="cancel" nbButton status="danger" (click)="onCancel()">Annuler</button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</form>
</div>
<div *ngIf="check_fonct('c_branche')==false">
    <ngx-page-not-autoriser></ngx-page-not-autoriser>
</div>