<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <h2 class="title">Page non autorisée</h2>
            <small class="sub-title">Merci de contacter l'administrateur pour accéder à cette page</small>
            <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
              RETOUR ACCUEIL
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  