<div *ngIf="check_fonct('l_sinistre')">
    <form [formGroup]="addForm">
      <div class="col-lg-6">
        <nb-card>
          <nb-card-header style="background-color: rgb(7, 66, 124);color:white">
            Les critères de recherche des engagements
          </nb-card-header>
        </nb-card>
      </div>
      <div class="tabs">
        <input type="radio" name="tabs" id="tabone" (click)="onClickPolice()">
        <label for="tabone" class="lab">Police</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="" class="label">Police</label>
                <mat-select class="form-control" [formControl]="policeCtr" placeholder="choisir une police"
                  (selectionChange)="onChangePolice($event)" fullWidth #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="policeFilterCtrl" placeholderLabel="recherche..."
                      noEntriesFoundLabel="aucune corespondance ..">
                    </ngx-mat-select-search>
                  </mat-option>
  
                  <mat-option value="{{police.poli_numero}}" *ngFor="let police of filteredPolice  | async">
                    {{police.poli_numero}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabtwo" checked="checked" (click)="onClickBranche()">
        <label for="tabtwo" class="lab">Branche</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="" class="label">Branche</label>
                <mat-select class="form-control" [formControl]="brancheCtrl" placeholder="choisir une branche"
                  (selectionChange)="onChangeBranche($event)" fullWidth #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="brancheFilterCtrl" placeholderLabel="recherche..."
                      noEntriesFoundLabel="aucune corespondance ..">
                    </ngx-mat-select-search>
                  </mat-option>
  
                  <mat-option value="{{branche.branche_numero}}" *ngFor="let branche of filteredBranche  | async">
                    {{branche.branche_numero}} : {{branche.branche_libelleLong}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabthree" (click)="onClickClient()">
        <label for="tabthree" class="lab">Client</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="" class="label">Client</label>
                <mat-select class="form-control" [formControl]="clientCtr" placeholder="choisir un client"
                  (selectionChange)="onChangeClient($event)" fullWidth #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="clientFilterCtrl" placeholderLabel="recherche..."
                      noEntriesFoundLabel="aucune corespondance ..">
                    </ngx-mat-select-search>
                  </mat-option>
  
                  <mat-option value="{{client.clien_numero}}" *ngFor="let client of filteredClient  | async">
                    {{client.clien_numero}} : {{client.clien_denomination}} {{client.clien_prenom}} {{client.clien_nom}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabfour" (click)="onClickPeriode()">
        <label for="tabfour" class="lab">Période</label>
        <div class="tab">
          <p class="paraProblemeSaisi" *ngIf="problemeDate">La date de début doit être inférieure ou égale à la
            date de fin
          </p>
          <p class="paraProblemeSaisi" *ngIf="problemeDateFin">La date de fin doit être inférieure ou égale à la
            date du jour
          </p>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Début </label>
                <input type="date" formControlName="debut" nbInput fullWidth (focusout)="onFocusOutEventDate($event)"
                  [ngStyle]="{border: getColorDate()}">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Fin </label>
                <input type="date" formControlName="fin" nbInput fullWidth (focusout)="onFocusOutEventDate($event)"
                  [ngStyle]="{border: getColorDate()}">
              </div>
            </div>
          </div>
        </div>        
        <input type="radio" name="tabs" id="tabfive" *ngIf="!check">
        <input type="radio" name="tabs" id="tabfive" checked="checked" *ngIf="check">
        <label for="tabfive" class="lab">Résultat</label>
        <div class="tab">
          <div class="row">
            <br><br>
            <div class='contenu_resultat' *ngIf="check_fonct('l_engagement')">
              <div fxLayout fxLayoutAlign="center center">
  
                <mat-card-header class="card-header">
                  <span class="header">{{ title }}</span>
  
                  <div>
                    <button class="buttons_export" mat-button [matMenuTriggerFor]="menu">Export</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="onExport('pdf')">
                        PDF
                      </button>
                      <button mat-menu-item (click)="onExport('excel')">
                        EXCEL
                      </button>
                    </mat-menu>
                  </div>
                </mat-card-header>
              </div>
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="eng_client">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
                  <td mat-cell *matCellDef="let engagement"> {{onGetClientByCode(engagement.clien_numero)}} </td>
                </ng-container>
                <ng-container matColumnDef="eng_police">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Police</th>
                  <td mat-cell *matCellDef="let engagement"> {{engagement.engag_numpoli}} </td>
                </ng-container>
                <ng-container matColumnDef="eng_branche">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Branche </th>
                  <td mat-cell *matCellDef="let engagement"> {{engagement.branche_libelle_long}} </td>
                </ng-container>
                <ng-container matColumnDef="eng_produits">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Produits </th>
                  <td mat-cell *matCellDef="let engagement"> {{engagement.prod_denominationlong}} </td>
                </ng-container>
                <ng-container matColumnDef="eng_numero">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro engagement </th>
                  <td mat-cell *matCellDef="let engagement"> {{engagement.engag_numeroengagement}} </td>
                </ng-container>
                <ng-container matColumnDef="eng_kapassure">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Kapassure </th>
                  <td mat-cell *matCellDef="let engagement"> {{engagement.engag_kapassure}} </td>
                </ng-container>
                <ng-container matColumnDef="eng_acte">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro acte </th>
                    <td mat-cell *matCellDef="let engagement"> {{engagement.engag_numeroacte}} </td>
                  </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let engagement">
                    <button mat-button [mat-menu-trigger-for]="detail" yPosition="above">
                      <mat-icon class="mat-18">more_vert</mat-icon>
                    </button>
                    <mat-menu #detail="matMenu">
                      <button mat-menu-item (click)="onOpen(dialog,engagement)">
                        <mat-icon>visibility</mat-icon> Détail
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
  
              <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 15, 20]">
              </mat-paginator>
              <ng-template #dialog let-engagement let-ref="dialogRef">
                <nb-card>
                  <nb-card-header class="col-lg-12">DETAILS DE L'ENGAGEMENT</nb-card-header>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-sm-6">
                        <h5 class="grid-h">Infos engagement</h5>
                        <div><span class="detail">Numéro engagement :</span>
                          {{ engagement.engag_numeroengagement }}
                        </div><br>
                        <div><span class="detail">Date engagement : </span>
                          {{ engagement.engag_dateengagement | date: 'dd-MM-yyyy'}}
                        </div><br>
                        <div><span class="detail">Numéro acte : </span>
                          {{ engagement.engag_numeroacte}}
                        </div><br>
                        <div><span class="detail">Numéro avenant : </span>
                          {{ engagement.engag_numeroavenant}}
                        </div><br>
                        <div><span class="detail">Kapassure :</span>
                          {{ engagement.engag_kapassure }}
                        </div><br>
                      </div>
  
                      <div class="col-sm-6">
                        <h5 class="grid-h">Infos 2</h5>
                        <div><span class="detail">Branche :</span>
                          {{ engagement.branche_libelle_long }}
                        </div><br>
                        <div><span class="detail">Police :</span>
                          {{ engagement.engag_numpoli }}
                        </div><br>
                        <div><span class="detail">Produit : </span>
                          {{ engagement.prod_denominationlong }}
                        </div><br>
                        <div><span class="detail">Client :</span>
                          {{onGetClientByCode(engagement.clien_numero)}}
                        </div><br>
                      </div>
                    </div>
                  </nb-card-body>
                  <nb-card-footer>
                    <button nbButton (click)="ref.close()" status="danger" class="btn btn-primary">Fermer</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button nbButton status="success" [disabled]='erreur' (click)="onConsulter()">Consulter</button>&nbsp;&nbsp;
        <button nbButton status="danger" (click)="onReinitialiser()">Réinitialiser</button>&nbsp;&nbsp;
      </div>
    </form>
  </div>
  <div *ngIf="check_fonct('l_engagement')==false">
    <ngx-page-not-autoriser></ngx-page-not-autoriser>
  </div>
