<form [formGroup]="addForm">

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header style="background-color: rgb(7, 66, 124);color:white">Complément de documents de la déclaration de
        sinistre
      </nb-card-header>
    </nb-card>
  </div>

  <div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone" class="lab">Documents</label>
    <div class="tab">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-group">
              <label class="label">Document à ajouter</label>
              <input formControlName="document" type="text" nbInput fullWidth id="document">
            </div>
            <p class="paraProblemeSaisi" *ngIf="documentDejaDansListe">Ce nom de document est déjà dans la liste</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <br>
            <button nbButton status="success" (click)="onAddDocument()">Ajouter
            </button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="listDocuments.length != 0">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead class="text-white">
              <th>Document</th>
              <th>Action</th>
            </thead>
            <ng-container *ngFor="let doc of listDocuments">
              <tr>
                <td>{{doc}}</td>
                <td class="text-center">
                  <button mat-icon-button color="warn" (click)="onDeleteDocument(doc)">
                    <mat-icon class="mat-18">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div>
    <!-- <button nbButton status="success" (click)="onValider()" [disabled]='!addForm.valid'>Valider</button> -->
    <button nbButton status="success" (click)="onValiderDocument()">Valider</button>
    &nbsp;&nbsp;<button class="cancel" (click)="cancel()" nbButton status="danger">Annuler</button>
  </div>
</form>
