<form [formGroup]="myPenaliteForm">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header style="background-color: rgb(7, 66, 124);color:white">Ajouter une pénalité</nb-card-header>
    </nb-card>
  </div>
  <br>
  <div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone" class="lab">INFO MORATOIRE</label>
    <div class="tab">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Montant moratoire</label>
            <input fieldSize="small" type="text" readonly [value]="montantMoratoire" nbInput fullWidth id="morato_mtmoratoire">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Type d'échéances accordées</label>
            <input fieldSize="small" type="text" readonly [value]="typeEcheance" nbInput fullWidth id="morato_typecheanc">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Nbre échéances accordées</label>
            <input fieldSize="small" type="number" readonly [value]="nbreEcheance" nbInput fullWidth id="morato_nbrecheancacc">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Montant par échéance accordé</label>
            <input fieldSize="small" type="text" readonly [value]="montantEcheance" nbInput fullWidth id="morato_mtecheanc">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Nbre d'échéances impayées</label>
            <input fieldSize="small" type="number" readonly [value]="nbreEcheanceImpaye" nbInput fullWidth id="morato_nbrecheancimp">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Montant cumulé des impayées</label>
            <input fieldSize="small" type="text" readonly [value]="montantCumuleImpaye" nbInput fullWidth id="morato_mtnechimpayee">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Date de mise en place échéance</label>
            <input fieldSize="small" type="text" readonly [value]="dateMisePlaceEcheance" nbInput fullWidth id="morato_datemiseplace">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Date échéance pour relancer</label>
            <input fieldSize="small" type="text" readonly [value]="dateRelance" nbInput fullWidth id="morato_datech">
          </div>
        </div>
      </div>
    </div>
    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo" class="lab">INFO PENALITE</label>
    <div class="tab" formGroupName="penaliteForm">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Taux pénalité</label><span style="color:red;">*</span>
            <input fieldSize="small" type="text" formControlName="penalit_taux" nbInput fullWidth id="penalit_taux">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Montant pénalités facturées</label><span style="color:red;">*</span>
            <input fieldSize="small" type="text" [value]="montantPenalite"
              (focusout)="onChangeFocusMontantPenalite($event)" nbInput fullWidth id="penalit_mtpenalitfac"
              [ngStyle]="{border: getColorMontant()}">
          </div>
          <div *ngIf="problemeMontantPenalite" class="col-sm-8">
            <span style="color:red; font-style: italic;">
                Le montant du moratoire doit-être supérieur au montant de la pénalité demandé
            </span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="label">Date pénalités</label><span style="color:red;">*</span>
            <input fieldSize="small" formControlName="penalit_datepenalit" type="date" nbInput fullWidth
              id="penalit_datepenalit" [max]="getToday()">
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div>
    <button nbButton status="success" [disabled]="!myPenaliteForm.valid" (click)="onSubmit()">Valider</button>
  </div>
</form>
