<div *ngIf="check_fonct('l_sinistre')">
  <mat-card>
    <div fxLayout fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Recherche" />
      </mat-form-field>

      <!-- <button class="liste_sinistre" (click)="openListeSinistre()">
                Retour Liste des sinistres
            </button><br> -->

      <mat-card-header class="card-header">
        <span class="header">La liste des menaces de sinistre</span>
      </mat-card-header>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="sin_client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro client</th>
        <td mat-cell *matCellDef="let sinistre">
          {{ onGetClientByCode(sinistre.sini_souscripteur) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sin_police">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro police</th>
        <td mat-cell *matCellDef="let sinistre">{{ sinistre.sini_police }}</td>
      </ng-container>
      <ng-container matColumnDef="sin_acheteur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acheteur</th>
        <td mat-cell *matCellDef="let sinistre">
          {{ onGetAcheteurByCode(sinistre.sini_acheteur) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sin_num">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Numéro sinistre
        </th>
        <td mat-cell *matCellDef="let sinistre">{{ sinistre.sini_num }}</td>
      </ng-container>
      <ng-container matColumnDef="sin_produits">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Produits</th>
        <td mat-cell *matCellDef="let sinistre">
          {{ onGetProduitByNumero(sinistre.sini_produit) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
        <td mat-cell *matCellDef="let sinistre">
          {{ onGetLibelleByStatus(sinistre.sini_status) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let sinistre">
          <button mat-button [mat-menu-trigger-for]="detail" yPosition="above">
            <mat-icon class="mat-18">more_vert</mat-icon>
          </button>
          <mat-menu #detail="matMenu">
            <button mat-menu-item (click)="onOpen(dialog, sinistre)">
              <mat-icon>visibility</mat-icon> Détail
            </button>
            <div *ngIf="check_fonct('u_sinistre')">
              <button mat-menu-item (click)="onModificationMenaceSinistre(sinistre)">
                <mat-icon color="primary">edit</mat-icon> Modification Menace
                sinistre
              </button>
              <button mat-menu-item (click)="onDeclarationSinistre(sinistre)">
                <mat-icon class="bouton_declaration_sinistre">edit</mat-icon> Déclaration sinistre
              </button>
              <button mat-menu-item (click)="onOpenLeveeMenace(dialogLeve, sinistre)">
                <mat-icon color="primary">sentiment_very_satisfied</mat-icon>
                Levée de la menace
              </button>
            </div>
            <!-- <button mat-menu-item (click)="onOpenConfirmationSinistre(dialogConfirm, sinistre)">
              <mat-icon color="warn">sentiment_very_dissatisfied</mat-icon>
              Confirmation du sinistre
            </button> -->
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 15, 20]">
    </mat-paginator>
    <ng-template #dialog let-sinistre let-ref="dialogRef">
      <nb-card>
        <nb-card-header class="col-lg-12">DETAILS DU SINISTRE</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <h5 class="grid-h">INFOS SINISTRE</h5>
              <div>
                <span class="detail">Client :</span>
                {{ onGetClientByCode(sinistre.sini_souscripteur) }}
              </div>
              <br />
              <div>
                <span class="detail">Police :</span>
                {{ sinistre.sini_police }}
              </div>
              <br />
              <div>
                <span class="detail">Acheteur :</span>
                {{ onGetAcheteurByCode(sinistre.sini_acheteur) }}
              </div>
              <br />
              <div>
                <span class="detail">Numéro sinistre :</span>
                {{ sinistre.sini_num }}
              </div>
              <br />
              <div>
                <span class="detail">Produit : </span>
                {{ onGetProduitByNumero(sinistre.sini_produit) }}
              </div>
              <br />
              <div>
                <span class="detail">Statut :</span>
                {{ onGetLibelleByStatus(sinistre.sini_status) }}
              </div>
              <br />
            </div>

            <div class="col-sm-6">
              <h5 class="grid-h">DATE/LIEU</h5>

              <div>
                <span class="detail">Date survenance : </span>
                {{ sinistre.sini_datesurvenance | date: "dd-MM-yyyy" }}
              </div>
              <br />
              <div>
                <span class="detail">Date déclaration : </span>
                {{ sinistre.sini_datedeclaration | date: "dd-MM-yyyy" }}
              </div>
              <br />
              <div>
                <span class="detail">Date saisie : </span>
                {{ sinistre.sini_datesaisie | date: "dd-MM-yyyy" }}
              </div>
              <br />
              <div>
                <span class="detail">Lieu du sinistre:</span>
                {{ sinistre.sini_lieu }}
              </div>
              <br />
            </div>

            <div class="col-sm-6">
              <h5 class="grid-h">EVALUATIONS</h5>
              <div>
                <span class="detail">Evaluation principale :</span>
                {{ sinistre.sini_evaluationprincipale | ngxNumberWithCommas }}
              </div>
              <br />
              <div>
                <span class="detail">Evaluation frais :</span>
                {{ sinistre.sini_evaluationfrais | ngxNumberWithCommas }}
              </div>
              <br />
              <div>
                <span class="detail">Evaluation honoraire : </span>
                {{ sinistre.sini_evaluationhonoraires | ngxNumberWithCommas }}
              </div>
              <br />
              <div>
                <span class="detail">Evaluation globale :</span>
                {{ sinistre.sini_evaluationglobale | ngxNumberWithCommas }}
              </div>
              <br />
            </div>
          </div>
          <!-- <br /><br /><br /><br /> -->
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="ref.close()" status="danger" class="btn btn-primary">
            FERMER
          </button>
        </nb-card-footer>
      </nb-card>
    </ng-template>

    <ng-template #dialogLeve let-sinistre let-ref="dialogRef">
      <nb-card>
        <nb-card-header> LEVEE DE LA MENACE </nb-card-header>
        <nb-card-body>
          <h5 class="grid-h">Merci de confirmer la levée de la menace</h5>
          <div class="row">
            <div class="col-sm-16">
              <div></div>
              <br />
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="confirmeLeveeMenace(sinistre)" (click)="ref.close()" status="success">
            CONFIRMER</button>&nbsp;&nbsp;
          <button nbButton (click)="ref.close()" status="danger">
            ANNULER
          </button>
        </nb-card-footer>
      </nb-card>
    </ng-template>

    <ng-template #dialogConfirm let-sinistre let-ref="dialogRef">
      <nb-card>
        <nb-card-header> VALIDATION DE LA MENACE DE SINISTRE </nb-card-header>
        <nb-card-body>
          <h5 class="grid-h">
            Merci de confirmer la validation de la menace de sinistre
          </h5>
          <div class="row">
            <div class="col-sm-16">
              <div></div>
              <br />
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="confirmeValidationMenace(sinistre)" (click)="ref.close()" status="success">
            CONFIRMER</button>&nbsp;&nbsp;
          <button nbButton (click)="ref.close()" status="danger">
            ANNULER
          </button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
  </mat-card>
</div>
<div *ngIf="check_fonct('l_sinistre')==false">
  <ngx-page-not-autoriser></ngx-page-not-autoriser>
</div>