<!-- ================= PARTIE RECHERCHE DES ENCAISSEMENTS PAR CRITERES ========== -->

<div *ngIf="check_fonct('l_facture')">
    <form [formGroup]="addForm">

        <div class="col-lg-6">
            <nb-card>
                <nb-card-header style="background-color: rgb(7, 66, 124);color:white">
                    Les critères de recherche de la production
                </nb-card-header>
            </nb-card>
        </div>

        <div class="tabs">
            <input type="radio" name="tabs" id="tabone" checked="checked" (click)="onClickPeriode()">
            <label for="tabone" class="lab">Période</label>
            <div class="tab">

                <p class="paraProblemeSaisi" *ngIf="problemeDate">
                    La date de début doit être inférieure ou égale à la date de fin
                </p>
                <p class="paraProblemeSaisi" *ngIf="problemeDateFin">La date de fin doit être inférieure ou égale à la
                    date du jour
                </p>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Début </label>
                            <input type="date" formControlName="date_debut" nbInput fullWidth
                                (focusout)="onFocusOutEventDate($event)" [ngStyle]="{border: getColorDate()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Fin </label>
                            <input type="date" formControlName="date_fin" nbInput fullWidth
                                (focusout)="onFocusOutEventDate($event)" [ngStyle]="{border: getColorDate()}">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabtwo" (click)="onClickProduit()">
            <label for="tabtwo" class="lab">Produit</label>
            <div class="tab">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="label">Produit</label>
                            <mat-select class="form-control" [formControl]="produitCtrl"
                                placeholder="choisir un produit" (selectionChange)="onChangeProduit($event)" fullWidth
                                #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="produitFilterCtrl"
                                        placeholderLabel="recherche..." noEntriesFoundLabel="aucune corespondance ..">
                                    </ngx-mat-select-search>
                                </mat-option>

                                <mat-option value="{{produit.prod_numero}}"
                                    *ngFor="let produit of filteredProduit  | async">
                                    {{produit.prod_numero}} : {{produit.prod_denominationlong}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabthree" (click)="onClickIntermediaire()">
            <label for="tabthree" class="lab">Intermediaire</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="label">Numero Intermédiaire</label>
                            <mat-select class="form-control" [formControl]="intermediaireCtrl"
                                placeholder="choisir un Intermediaire" (selectionChange)="onChangeItermediaire($event)"
                                fullWidth #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="intermediaireFilterCtrl"
                                        placeholderLabel="recherche..." noEntriesFoundLabel="aucune corespondance ..">
                                    </ngx-mat-select-search>
                                </mat-option>

                                <mat-option value="{{inter.inter_numero}}"
                                    *ngFor="let inter of filteredIntermediaire | async">
                                    {{inter.inter_numero}}: {{inter.inter_denomination}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ================= PARTIE CONSULTATION DES ENCAISSEMENTS A EDITER ================== -->
            <input type="radio" name="tabs" id="tabfour" *ngIf="!check">
            <input type="radio" name="tabs" id="tabfour" checked="checked" *ngIf="check">
            <label for="tabfour" class="lab">Résultat</label>
            <div class="tab">
                <div class="row">
                    <div class='contenu_resultat' *ngIf="check_fonct('l_facture')">
                        <div>
                            <div fxLayout fxLayoutAlign="center center">
                                <mat-card-header class="card-header">
                                    <span class="header"> {{ title }}</span>

                                    <div>
                                        <button class="buttons_export" mat-button
                                            [matMenuTriggerFor]="menu">Export</button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="onExport('pdf')">
                                                PDF
                                            </button>
                                            <button mat-menu-item (click)="onExport('excel')">
                                                EXCEL
                                            </button>
                                        </mat-menu>
                                    </div>
                                </mat-card-header>

                            </div>
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="quit_numero">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Num quittance </th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_numero}} </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_facture">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Facture</th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_Facture}} </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_numeropolice">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Police </th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_numeropolice}} </td>
                                </ng-container>
                                <ng-container matColumnDef="inter_denomination">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intermédiaire </th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.inter_denomination}} </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_typequittance">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type quittance </th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_typequittance}} </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_typeecriture">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type écriture </th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_typeecriture}} </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_dateemission">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date émission </th>
                                    <td mat-cell *matCellDef="let quittance">
                                        {{quittance.quit_dateemission | date: 'dd-MM-yyyy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_primenette">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prime nette </th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_primenette}} </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_primettc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prime TTC </th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_primettc |
                                        ngxNumberWithCommas}} </td>
                                </ng-container>
                                <ng-container matColumnDef="quit_mntprimencaisse">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mtn prime encaissée</th>
                                    <td mat-cell *matCellDef="let quittance"> {{quittance.quit_mntprimencaisse |
                                        ngxNumberWithCommas}} </td>
                                </ng-container>
                                <ng-container matColumnDef="details">
                                    <th mat-header-cell *matHeaderCellDef> Details </th>
                                    <td mat-cell *matCellDef="let quittance">
                                        <button mat-icon-button color="primary" (click)="onOpen(dialog,quittance)">
                                            <mat-icon class="mat-18">reorder</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 15, 20]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button nbButton status="success" [disabled]='erreur' (click)="onConsulter()">Consulter</button>&nbsp;&nbsp;
            <button nbButton status="danger" (click)="onReinitialiser()">Réinitialiser</button>&nbsp;&nbsp;
        </div>
    </form>
</div>


<!-- Details de la production -->
<ng-template #dialog let-quittance let-ref="dialogRef">

    <nb-card>
        <nb-card-header>Détails production</nb-card-header>
        <nb-card-body>
            <!-- <h5 class="grid-h">Détails de la branche</h5> -->
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="grid-h">INFOS</h5>
                    <div><span class="detail">Numero quittance :</span> {{quittance.quit_numero}} </div><br>
                    <div><span class="detail">Facture :</span> {{quittance.quit_Facture}} </div><br>
                    <div><span class="detail">Police :</span> {{quittance.quit_numeropolice}} </div><br>
                    <div><span class="detail">Intermédiaire :</span> {{quittance.inter_denomination}}</div>
                    <br>
                    <div><span class="detail">Type quittance :</span> {{quittance.quit_typequittance}} </div>
                    <br>
                    <div><span class="detail">Type écriture :</span> {{quittance.quit_typeecriture}} </div><br>
                </div>

                <div class="col-sm-4">
                    <h5 class="grid-h">INFOS 2</h5>
                    <div><span class="detail">Date émission :</span> {{quittance.quit_dateemission | date:
                        'dd-MM-yyyy'}}
                    </div><br>
                    <div><span class="detail">Date comptabilisation :</span> {{quittance.quit_datecomotable |
                        date: 'dd-MM-yyyy'}}
                    </div><br>
                    <div><span class="detail">Date effet :</span> {{quittance.quit_dateeffet | date:
                        'dd-MM-yyyy'}}
                    </div><br>
                    <div><span class="detail">Date échéance :</span> {{quittance.quit_dateecheance | date:
                        'dd-MM-yyyy'}}
                    </div><br>
                    <div><span class="detail">Prime nette :</span> {{quittance.quit_primenette}} </div><br>
                    <div><span class="detail">Commission apporteur 1 :</span>
                        {{quittance.quit_commissionsapporteur1}} </div><br>
                </div>

                <div class="col-sm-4">
                    <h5 class="grid-h">INFOS 3</h5>
                    <div><span class="detail">Accessoire compagnie :</span>
                        {{quittance.quit_accessoirecompagnie}}
                    </div><br>
                    <div><span class="detail">Accessoire apoorteur :</span>
                        {{quittance.quit_accessoireapporteur}}
                    </div><br>
                    <div><span class="detail">Taux Taxe TE :</span>
                        {{quittance.quit_tauxte}}
                    </div><br>
                    <div><span class="detail">Montant Taxe TE :</span>
                        {{quittance.quit_mtntaxete}}
                    </div><br>
                    <div><span class="detail">Prime TTC :</span> {{quittance.quit_primettc}} </div><br>
                    <div><span class="detail">Montant prime encaissée :</span>
                        {{quittance.quit_mntprimencaisse}}
                    </div><br>
                </div>

            </div>
        </nb-card-body>
        <nb-card-footer>
            <div style="text-align:center;">
                <button nbButton (click)="ref.close()" status="danger">Fermer</button>&nbsp;&nbsp;
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>

<!-- Check sur les autorisations d'accès -->
<div *ngIf="check_fonct('l_facture')==false">
    <ngx-page-not-autoriser></ngx-page-not-autoriser>
</div>