<form [formGroup]="addForm"> 
    <nb-card>
        <nb-card-header>Ajout fonctionnalite</nb-card-header>
        
        <nb-card-body >
           
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label class="label">Entite</label>
                <input  formControlName="entite"  type="text" nbInput fullWidth  id="entite" >
              </div>
            </div>
            </div>
        
          <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="cancel()">Annuler</button>
            &nbsp;&nbsp;<button nbButton status="success" (click)="submit()" [disabled]='!addForm.valid'>Ajouter</button>
          </nb-card-footer>
        </nb-card-body>
      </nb-card>
    </form>