<div *ngIf="check_fonct('l_filiale_Client')">
    <mat-card> 
        <div fxLayout fxLayoutAlign="center center">
          <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Recherche">
          </mat-form-field>
        </div>
        <mat-card-header class="card-header">
          <span class="header">La liste des clients filiales</span>    
          <div *ngIf="check_fonct('c_filiale_Client')">
            
            <button mat-icon-button  class="buttons" status="success" (click)="openAjout()">
              <mat-icon  class="material-icons color_green"  title="Ajouter filiale client">add_circle</mat-icon>    
            </button>
          </div>
          
        </mat-card-header>
        
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="filcli_numero">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero </th>
                <td mat-cell *matCellDef="let filiale_Client"> {{filiale_Client.filcli_numero}} </td>
              </ng-container>
          <ng-container matColumnDef="filcli_numercli">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Client </th>
            <td mat-cell *matCellDef="let filiale_Client"> {{onGetdenom(filiale_Client.filcli_numercli)}} </td>
          </ng-container>
          <ng-container matColumnDef="filcli_codepays">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Pays </th>
            <td mat-cell *matCellDef="let filiale_Client"> {{onGetPays(filiale_Client.filcli_codepays)}} </td>
          </ng-container>
          <ng-container matColumnDef="filcli_codedevise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Devise </th>
            <td mat-cell *matCellDef="let filiale_Client"> {{filiale_Client.filcli_codedevise}} </td>
          </ng-container>
          <ng-container matColumnDef="fili_codegroupe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Groupe </th>
            <td mat-cell *matCellDef="let filiale_Client"> {{onGetGroupe(filiale_Client.fili_codegroupe)}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let filiale_Client">
                <button mat-button [mat-menu-trigger-for]="detail" yPosition="above">
                    <mat-icon class="mat-18">more_vert</mat-icon>
                </button>
                <mat-menu #detail="matMenu">
                    <button mat-menu-item (click)="open(dialog , filiale_Client)">
                        <mat-icon>visibility</mat-icon> Détail
                    </button>
                    <div *ngIf="check_fonct('u_filiale_Client')">
                        <button mat-menu-item (click)="openModif(filiale_Client)">
                            <mat-icon color="primary">edit</mat-icon> Modifier
                        </button>
                    </div>
                    <div *ngIf="check_fonct('d_filiale_Client')">
                        <button mat-menu-item (click)="open(dialogdel ,filiale_Client)">
                            <mat-icon color="warn">delete</mat-icon> Suppimer
                        </button>
                    </div>
                </mat-menu>
            </td>
        </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 15, 20]">
        </mat-paginator>
        
        
        <ng-template #dialog let-filiale_Client let-ref="dialogRef">
          
          <nb-card>
            <nb-card-header>
              details
            </nb-card-header>
            <nb-card-body>
              
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="grid-h">Infos générale</h5>
                  <div><span class="detail">Numero:</span> {{ filiale_Client.filcli_numero }}</div><br>
                  <div><span class="detail">Code Client:</span> {{onGetdenom(filiale_Client.filcli_numercli)}}</div><br>
                  <div><span class="detail">Code Pays: </span>{{onGetPays(filiale_Client.filcli_codepays)}}</div><br>
                  <div><span class="detail">Code groupe:</span> {{onGetGroupe(filiale_Client?.fili_codegroupe)}}</div><br>
                  <div><span class="detail">Code devise: </span>{{ filiale_Client.filcli_codedevise }}</div><br>
                </div>
                
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton (click)="openModif(filiale_Client,filiale_Client.filcli_id)" (click)="ref.close()" status="success">modifier</button>
              
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button nbButton (click)="ref.close()" status="danger">Fermer</button>
            </nb-card-footer>
          </nb-card>
          
          
        </ng-template>
        
        <ng-template #dialogdel let-filiale_Client let-ref="dialogRef">
          
          <nb-card>
            <nb-card-header>
              SUPPRESSION
            </nb-card-header>
            <nb-card-body>
              <h5 class="grid-h">Confirmation de la suppression</h5>
              <div class="row">
                <div class="col-sm-6">
                  <br>
                  
                  <div></div><br>
                  
                </div>
                
              </div>
              
              
            </nb-card-body>
            <nb-card-footer>
              <button nbButton (click)="onDeleteFiliale_Client(filiale_Client.filcli_numero)" (click)="ref.close()" status="success">Confirmer</button>
              <button nbButton (click)="ref.close()" status="danger">Annuler</button>
            </nb-card-footer>
          </nb-card>
          
          
        </ng-template>
        
    </mat-card> 
    </div> 
    <div *ngIf="check_fonct('l_filiale_Client')==false">
      <ngx-page-not-autoriser></ngx-page-not-autoriser>
    </div>