<div class="col-lg-12">
    <nb-card>
      <nb-card-header id="titre_entete">{{titre}} {{ sinistreForm.sini_num || ''}}</nb-card-header>
      <nb-card-body>
  
        <fieldset class="fieldset">
          <legend class="tailleLegend">Sinistre</legend>
          <div class="row">
            <div class="col-sm-6">
              <p>Numéro : <b> {{ sinistreForm?.sini_num || ''}}</b></p>
              <p>Client : <b> {{ client?.clien_numero || ''}} : {{ client?.clien_prenom || '' }} {{
                  client?.clien_nom || ''}} {{ client?.clien_denomination || ''}} {{ client?.clien_sigle
                  || ''}}</b></p>
              <p>Police : <b> {{ sinistreForm?.sini_police || ''}} </b></p>
              <p *ngIf="afficheAcheteur">Acheteur : <b> {{ acheteur?.achet_numero || ''}} : {{ acheteur?.achet_prenom || '' }} {{
                  acheteur?.achet_nom || ''}}</b></p>
              <p>Intermédiaire : <b> {{ intermediaire?.inter_numero || '' }} : {{
                  intermediaire?.inter_denomination || '' }}</b></p>
              <p>Produit : <b>{{ produit?.prod_numero || '' }} : {{ produit?.prod_denominationlong || ''
                  }}</b></p>
            </div>
            <!-- <div class="col-sm-4">
              <p>Evaluation principale : <b>{{ sinistreForm?.sini_evaluationprincipale | ngxNumberWithCommas }}</b></p>
              <p>Evaluation frais : <b>{{ sinistreForm?.sini_evaluationfrais | ngxNumberWithCommas }}</b></p>
              <p>Evaluation honoraires : <b>{{ sinistreForm?.sini_evaluationhonoraires | ngxNumberWithCommas }}</b></p>
              <p>Evaluation globale : <b>{{ sinistreForm?.sini_evaluationglobale | ngxNumberWithCommas }}</b>
              </p>
            </div>-->
            <div class="col-sm-6">
              <p>SAP principale : <b>{{ sinistreForm?.sini_sapprincipale | ngxNumberWithCommas}}</b></p>
              <p>SAP frais : <b>{{ sinistreForm?.sini_sapfrais | ngxNumberWithCommas }}</b></p>
              <p>SAP honoraires : <b>{{ sinistreForm?.sini_saphonoraires | ngxNumberWithCommas }}</b></p>
              <p>SAP globale : <b>{{ sinistreForm?.sini_sapglobale | ngxNumberWithCommas }}</b></p>
            </div>
          </div>
        </fieldset><br>
  
        <fieldset class="fieldset">
          <legend class="tailleLegend">Infos du Mvt de Sinistre</legend>
          <div class="row">
            <div class="col-sm-6">
              <p>Numéro : <b> {{ mvtsinistreForm?.mvts_num || ''}}</b></p>
              <p>Type mvt : <b> {{ onGetLibelleByTypeMvt(mvtsinistreForm?.mvts_typemvt) }} </b></p>
              <p>Date mvt : <b> {{ mvtsinistreForm?.mvts_datemvt | date: 'dd-MM-yyyy'}}</b></p>
              <p>Montant Financier : <b>{{ mvtsinistreForm?.mvts_montantfinancier | ngxNumberWithCommas }}</b></p>
            </div>
            <div class="col-sm-6">
              <p>Montant principal : <b>{{ mvtsinistreForm?.mvts_montantprincipal | ngxNumberWithCommas }}</b></p>
              <p>Montant frais : <b>{{ mvtsinistreForm?.mvts_montantfrais | ngxNumberWithCommas }}</b></p>
              <p>Montant honoraires : <b>{{ mvtsinistreForm?.mvts_montanthonoraire | ngxNumberWithCommas }}</b></p>
              <p>Montant mouvement : <b>{{ mvtsinistreForm?.mvts_montantmvt | ngxNumberWithCommas }}</b></p>
            </div>
          </div>
        </fieldset><br>
  
        <fieldset class="fieldset">
          <legend class="tailleLegend">Infos du Reglement </legend>
          <div class="row">
            <div class="col-sm-6">
              <p>Numéro : <b> {{ reglementForm?.regl_num || ''}}</b></p>
              <p>Date règlement : <b> {{ reglementForm?.regl_datereglement | date: 'dd-MM-yyyy HH:mm'}}</b></p>
              <p>Code règlement : <b> {{ onGetLibelleByCodeReglement(reglementForm?.regl_codereglement)}}</b></p>
              <p>Code banque : <b> {{ reglementForm?.regl_codebanque}}</b></p>
              <p>Numéro du titre  : <b> {{ reglementForm?.regl_numcheque}}</b></p>

              <!-- <p>Statut règlement : <b> {{ onGetLibelleByStatus(reglementForm?.regl_status) }} </b></p> -->
            </div>
            <div class="col-sm-6">
              <p>Montant principal : <b>{{ reglementForm?.regl_montantprincipal | ngxNumberWithCommas }}</b></p>
              <p>Montant frais : <b>{{ reglementForm?.regl_montantfrais | ngxNumberWithCommas }}</b></p>
              <p>Montant honoraires : <b>{{ reglementForm?.regl_montanthonoraire | ngxNumberWithCommas }}</b></p>
              <p>Montant global : <b>{{ reglementForm?.regl_montanttotal | ngxNumberWithCommas }}</b></p>
            </div>
          </div>
        </fieldset><br>
        <br>
        <div>
  
          <button nbButton status="success" (click)="onExport(sinistreForm.sini_num, mvtsinistreForm.mvts_num)">{{titreButionEdition}}</button>&nbsp;&nbsp;
          <button class="cancel" nbButton status="danger" (click)="onCancel()">Fermer</button>
        </div><br>
      </nb-card-body>
    </nb-card>
  </div>
  