<div>
    <form [formGroup]="addForm">
      <!-- <div class="col-lg-4">
        <nb-card>
          <nb-card-header id="titre_entete">Ajout d'un nouvel client</nb-card-header>
        </nb-card>
      </div> -->
      <div class="col-lg-4">
        <nb-card>
          <nb-card-header style="background-color: rgb(7, 66, 124);color:white">{{titre}}</nb-card-header>
        </nb-card>
      </div>
  
     
      <br>
      <div class="tabs">

        <input type="radio" name="tabs" id="tabonefive" checked="checked">
        <label for="tabonefive" class="lab">EXPLOITANT <br> DONNEUR <br> D'ORDRE <br></label>
        <div class="tab">
          <div class="row">


            <div class="col-sm-3">
               
                <div><span class="detail"></span> </div><br>
                <div><span class="detail"></span> </div><br>
                <div><span class="detail"></span> </div><br>
                <!--div><span class="detail">Numéro Titulaire :</span> {{ demandeSociete.dem_clienttitulaire }}</div><br-->
                <div><span class="detail"></span> </div><br>
              </div>
          <br>
          <br>
          <div class="col-sm-3">
            <h5 class="grid-h">Exploitant</h5>
            <div><span class="detail">Nom  :</span> {{ nom }}</div><br>
            <div><span class="detail">Prenom :</span> {{ prenom }}</div><br>
            <div><span class="detail"></span> </div><br>
            <!--div><span class="detail">Dénomination :</span> {{ demandeSociete.dem_denomination }}</div><br>
            <div><span class="detail">Registre :</span> {{ demandeSociete.dem_registrecommerce}}</div><br>
            <div><span class="detail">NINEA :</span> {{ demandeSociete.dem_ninea }}</div><br()-->
            <div></div><br>
            <div></div><br>
            <div></div><br>

          </div>

          <div class="col-sm-6">
            <h5 class="grid-h">Donneur d'ordre</h5>
            <div><span class="detail">Dénommination sociale :</span> {{ demandeur}}</div><br>
            <div><span class="detail">Raison sociale :</span> {{ raisonsociale }}</div><br>
            <div><span class="detail">Année d’entrée en relation :</span> {{ anneerelation }}</div><br>
            <div><span class="detail">Numéro demande :</span> {{ demandeSociete.dem_socnum }}</div><br>
            <div><span class="detail">Numéro police(s):</span>{{policenumero}} </div><br>
            <div><span class="detail">Nom du principal dirigeant  :</span> {{ nomgerant }}</div><br>
          </div>

          
        </div>

        </div>

        <input type="radio" name="tabs" id="tabthree" >
        <label for="tabthree" class="lab">ENGA <br> GEMENT EN<br>COURS</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-3">
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
              <h5 class="grid-h">Engagement en cours</h5>
              <div><span class="detail">soumission  :</span> {{ formatNumer(temp1) }} FCFA</div><br>
              <div><span class="detail">Avance de démarrage :</span> {{ formatNumer(temp2) }} FCFA</div><br>
              <div><span class="detail">Bonne execution :</span> {{ formatNumer(temp3) }}</div><br>
              <div><span class="detail">Retenue de garantie :</span> {{ formatNumer(temp4) }} FCFA</div><br>
              <div><span class="detail">Définitive :</span> {{ formatNumer(temp5)}} FCFA</div><br>
              <div><span class="detail">Total mains levées :</span> {{ formatNumer(tempmainLeve)}} FCFA</div><br>
              <div><span class="detail">TOTAL ENGAGEMENT:</span> {{ formatNumer(temp1+temp2+temp3+temp4+temp5)}} FCFA</div><br>
              
            </div>
          </div>       
        </div>

        <input type="radio" name="tabs" id="tabsix" >
        <label for="tabsix" class="lab">SOLDE<br>COMPTE</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-3">
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
              <h5 class="grid-h">Solde compte tiers</h5>
              <div><span class="detail">Prime net :</span> {{ formatNumer(primenette)}} FCFA</div><br>
              <div><span class="detail">Prime TTC :</span> {{ formatNumer(primettc) }} FCFA</div><br>
              <div><span class="detail">Frais d'étude:</span> {{formatNumer(fed)}} FCFA</div><br>
              <div><span class="detail">Taxe d'assurance :</span> {{ formatNumer(taxeAssurance) }} FCFA</div><br>
              
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabseven" >
        <label for="tabseven" class="lab">ENGAGE <br> MENT<br>DEMANDE</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-3">
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
              <div><span class="detail"></span> </div><br>
            </div>
            <br>
            <br>
            <div class="col-sm-6">
              <h5 class="grid-h">Engagement demandé</h5>
              <div><span class="detail">soumission  :</span> {{ formatNumer(soumission) }} FCFA</div><br>
              <div><span class="detail">Avance de démarrage :</span> {{ formatNumer(avancedemarrage) }} FCFA</div><br>
              <div><span class="detail">Bonne execution :</span> {{ formatNumer(bonneexcution )}} FCFA</div><br>
              <div><span class="detail">Retenue de garantie :</span> {{ formatNumer(retenuegarantie) }} FCFA</div><br>
              <div><span class="detail">Définitive:</span> {{ formatNumer(definitive) }} FCFA</div><br>
              <div><span class="detail">TOTAL ENGAGEMENT:</span> {{ formatNumer(cmttotale) }} FCFA</div><br>
              <div></div><br>
              <div></div><br>
              <div></div><br>
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabone" >
        <label for="tabone" class="lab">MARCHE</label>
        <div class="tab">
  
          <div class="row">
            <!-- <div class="col-sm-4">
              <div class="form-group">
                <label class="label"> type client<span style="color:red;">*</span></label>
                <input readonly fieldSize="small" formControlName="clien_typeclient" type="text" nbInput fullWidth
                  id="clien_typeclient">
                 <nb-select (selectedChange)="onChangeLibeleType($event)" fullWidth>
                  <nb-option value="{{type.id}}" *ngFor="let type of listType">{{type.value}}</nb-option>
                </nb-select> 
              </div>
            </div> -->
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Object avenant<span style="color:red;">*</span></label> <br>
                <textarea name="instruct_objet_avenant" formControlName="instruct_objet_avenant" id="instruct_objet_avenant" cols="50" rows="5"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Date de Souscription<span style="color:red;">*</span></label>
                <input fieldSize="small" formControlName="instruct_date_souscript" type="date" nbInput fullWidth
                  id="instruct_date_souscript">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Beneficiaire<span style="color:red;">*</span></label>
                <input fieldSize="small" formControlName="instruct_beneficiaire" type="text"  nbInput fullWidth
                  id="instruct_beneficiaire">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Taux pour le produit 1<span style="color:red;">*</span></label>
                <input fieldSize="small" formControlName="instruct_taux" type="number"  nbInput fullWidth
                  id="instruct_taux">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Taux pour le produit 2 <span style="color:red;">*</span></label>
                <input fieldSize="small" formControlName="instruct_taux2" type="number"  nbInput fullWidth
                  id="instruct_taux2">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Taux pour le produit 3 <span style="color:red;">*</span></label>
                <input fieldSize="small" formControlName="instruct_taux3" type="number"  nbInput fullWidth
                  id="instruct_taux3">
              </div>
            </div>
          </div>
        </div>
  
        <input type="radio" name="tabs" id="tabtwo" >
        <label for="tabtwo" class="lab">PRESENTATIONS <br> GENERALE <br>TECHNIQUE</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Présentation générale <span style="color:red;">*</span></label><br>
                <textarea name="instruct_present_generale" formControlName="instruct_present_generale" id="instruct_present_generale" cols="30" rows="4" placeholder="par ici la présentation générale" nbInput fullWidth></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Présenation technique<span style="color:red;">*</span></label><br>
                <textarea name="instruct_present_technique" formControlName="instruct_present_technique" id="instruct_present_technique" cols="30" rows="4" placeholder="par ici la présentation technique" nbInput fullWidth></textarea>
              </div>
            </div>
          </div>
        </div>
  
  
        <input type="radio" name="tabs" id="tabo">
        <label for="tabo" class="lab">REFEFERENCES <br> TECHNIQUES</label> 
        <div class="tab">
          <form [formGroup]="refForm">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Identification marchés</label><br>
                <textarea  cols="30" rows="4" fieldSize="small" formControlName="identification" type="text" nbInput fullWidth
                id="identification"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Observations</label> <br>
                <textarea  cols="30" rows="4" fieldSize="small" formControlName="observation" type="text" nbInput fullWidth
                id="observation"></textarea>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label">Montants marchés</label><br>
                  <input fieldSize="small" formControlName="montant_marche" type="text" nbInput fullWidth
                  id="montant_marche" >
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label">Bénéficiaire</label><br>
                  <input fieldSize="small" formControlName="beneficiaires" type="text" nbInput fullWidth
                  id="beneficiaires">
                </div>
              </div>
          </div>
          
            <button style="background-color: rgb(7, 66, 124);" status="primary" nbButton (click)="ajoutReference()" [disabled]='!refForm.valid'>Ajouter references</button>
          </form>
          <div class="row">
            <div class="col-sm-9">
              <h5>Liste des références techniques<span style="color:red;">*</span></h5>
              <table class="table table-bordered">
                <thead class="text-white" style="background-color: rgb(7, 66, 124);">
                  
                    <th class="text-center">Identification Marchés</th>
                    <th class="text-center">Bénéficiaires</th>
                    <th class="text-center">Montants Marchés (F.CFA)</th>
                    <th class="text-center">Observations</th>
                    <th class="text-center">Action</th>
                  
                </thead>
                <tbody  *ngFor="let ref of referenceTech">
                  <tr>
                    <td class="text-center">{{ref.identification}}</td>
                    <td class="text-center">{{ref.beneficiaires}}</td>
                    <td class="text-center">{{ref.montant_marche}}</td>
                    <td class="text-center">{{ref.observation}}</td>
                    <td class="text-center">
                      <button mat-icon-button color="warn" (click)="onDeleteRef(ref)"> 
                          <mat-icon class="mat-18">delete</mat-icon>
                      </button>
                  </td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
        </div>
  
        <input type="radio" name="tabs" id="tabone3">
        <label for="tabone3" class="lab">ANALYSE DE RISQUE <br> CONCLUSION</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Analyse de risque<span style="color:red;">*</span></label><br>
                <textarea  cols="30" rows="4" fieldSize="small" formControlName="instruct_interetdossier" type="text" nbInput fullWidth
                id="instruct_interetdossier"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Conclusion<span style="color:red;">*</span></label> <br>
                <textarea  cols="30" rows="4" fieldSize="small" formControlName="instruct_conclusion" type="text" nbInput fullWidth
                id="instruct_conclusion"></textarea>
              </div>
            </div>
          </div>
          
        </div>
  
        <!--input type="radio" name="tabs" id="tabone4">
        <label for="tabone4" class="lab">CONDITIONS <br> FINANCIERES</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <!- <label class="label">Commentaire</label> ->
                <textarea id=""  rows="10" cols="100"
                  placeholder="Vous pouvez mettre votre commentaire ici !">
                </textarea>
                <!- <ckeditor [config]="{  height: '150' }" formControlName="clien_commentaire"></ckeditor> ->
              </div>
            </div>
          </div>
        </div-->
  
        <!-- 
        <input type="radio" name="tabs" id="tabone4">
        <label for="tabone4" class="lab">STATUS</label>
        <div class="tab">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Status</label>
                <nb-select (selectedChange)="onChangeStatus($event)" type="text" fullWidth id="clien_status">
                  <nb-option value="1">Valide</nb-option>
                  <nb-option value="2">En attente</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
        </div>
        -->
  
      </div>
  
      <br>
      <div class="col-sm-6">
        <label style="font-size: 15px;color:green" class="label">Mémo Direction Arbitrage<span style="color:red;">*</span></label><br>
        <textarea  cols="30" rows="4" fieldSize="small" formControlName="instruct_memo" type="text" nbInput fullWidth
         id="instruct_memo"       ></textarea>
      </div>
  
      <div>
  
        
        <button class="cancel" nbButton status="danger" (click)="close()" >Annuler</button>
        &nbsp;&nbsp;<button *ngIf="!haveInstruction && candidateToModifyInstruct" nbButton status="success" (click)="onExportConditionInstruction(demandeSociete)" [disabled]='!addForm.valid || !tailleRef'  >Exporter et enregistrer</button>
        &nbsp;&nbsp;<button *ngIf="haveInstruction && candidateToModifyInstruct" nbButton status="success" (click)="onExportConditionInstruction(demandeSociete)" [disabled]='!addForm.valid || !tailleRef'  >Exporter et modifier</button>
        &nbsp;&nbsp;<button *ngIf="haveInstruction" nbButton status="success" (click)="onExportInstruction(demandeSociete)" [disabled]='!addForm.valid || !tailleRef'  >Exporter</button>
      </div>
  
    </form>
  </div>
  <!--div *ngIf="check_fonct('c_client')==false">
    <ngx-page-not-autoriser></ngx-page-not-autoriser>
  </div-->