<div *ngIf="check_fonct('l_consultation_gestion_sinistre')">
<div class="row">
    <div class="col-sm-6">
        <nb-card>
            <button nbButton style="background-color: rgb(7, 66, 124);" (click)="openSinistre()">
                <nb-card-body>
                    <p class="parainfo">CONSULTATION SINISTRE</p>
                </nb-card-body>
            </button>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <nb-card>
            <button nbButton style="background-color: rgb(7, 66, 124);" (click)="openSinistralite()">
                <nb-card-body>
                    <p class="parainfo">CONSULTATION SINISTRALITE</p>
                </nb-card-body>
            </button>
        </nb-card>
    </div>
</div>
</div>
<div *ngIf="check_fonct('l_consultation_gestion_sinistre')==false">
    <ngx-page-not-autoriser></ngx-page-not-autoriser>
</div>