.parainfo {
  size: 20px;
  color: #fff;
  // font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  // background: rgb(7, 66, 124);
  text-align: center;
}

// .contenant {
//   background-color: rgb(7, 66, 124);
// }
.col-sm-6{
  margin-left: 25%;
}
