/**
 * Tabs
 */
 .tabs {
	display: flex;
	flex-wrap: wrap; // make sure it wraps
}
.tabs .lab {
	order: 1; // Put the labels first
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
  margin-bottom: 0;
	cursor: pointer;
  color: white;
  background: rgb(7, 66, 124);
  font-weight: bold;
  transition: background ease 0.2s;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
    
}
nb-card-header{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(7, 66, 124);
  color:white ;
  font-size: 120%;
}
// #titre_entete{
//   font-size: 150%;
// }
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
  //border-radius: 10px;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
    color: rgb(7, 66, 124);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

span.obligatoire, p.text_champs_obligatoire {
  font-size: 15px;
  color: red;
}

.paraProblemeSaisi{
  color: red;
  font-style: italic;
}
.indication{
  color: green;
  font-style: italic;
}
/**
 * Generic Styling
*/
/*
body {
  background: #eee;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
}*/











