.flotte {
    float:left;
    margin-right:10px;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;        
        width: 100%;
        padding: 10px 20px;
        //background: #666;
        color: rgb(22, 21, 21);
        //position: absolute;
      }