span.obligatoire {
    color: red;
}
nb-card-header{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(7, 66, 124);
    color:white ;
    font-size: 120%;
}
// #titre_entete{
//     font-size: 150%;
// }