<div *ngIf="check_fonct('u_accessoire')">
    <form [formGroup]="modifForm">

        <div class="col-lg-4">
            <nb-card>
                <nb-card-header id="titre_entete">Modifier un accessoire</nb-card-header>
            </nb-card>
        </div>

        <!-- ======================= Gestion du controle de saisi ============================ -->
        <p class="paraProblemeSaisi" *ngIf="problemeInterv1">L'intervalle 1 est obligatoire </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv2">L'intervalle 2 est obligatoire </p>

        <!-- ================================================================================= -->

        <p class="paraProblemeSaisi" *ngIf="problemeInterv12">L'intervalle 2 doit être supérieur à l'intervalle 1
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv34">L'intervalle 4 doit être supérieur à l'intervalle 3
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv56">L'intervalle 6 doit être supérieur à l'intervalle 5
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv78">L'intervalle 8 doit être supérieur à l'intervalle 7
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv910">L'intervalle 10 doit être supérieur à l'intervalle 9
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv1112">L'intervalle 12 doit être supérieur à l'intervalle 11
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv1314">L'intervalle 14 doit être supérieur à l'intervalle 13
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv3">L'intervalle 3 doit être supérieur à l'intervalle 2
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv5">L'intervalle 5 doit être supérieur à l'intervalle 4
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv7">L'intervalle 7 doit être supérieur à l'intervalle 6
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv9">L'intervalle 9 doit être supérieur à l'intervalle 8
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv11">L'intervalle 11 doit être supérieur à l'intervalle 10
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeInterv13">L'intervalle 13 doit être supérieur à l'intervalle 12
        </p>
        <p class="paraProblemeSaisi" *ngIf="problemeCompagnie1">L'accessoire pour la compagnie de l'intervalle 1 et 2
            est
            obligatoire</p>
        <p class="paraProblemeSaisi" *ngIf="problemeCompagnie2">L'accessoire pour la compagnie de l'intervalle 3 et 4
            est
            obligatoire</p>
        <p class="paraProblemeSaisi" *ngIf="problemeCompagnie3">L'accessoire pour la compagnie de l'intervalle 5 et 6
            est
            obligatoire</p>
        <p class="paraProblemeSaisi" *ngIf="problemeCompagnie4">L'accessoire pour la compagnie de l'intervalle 7 et 8
            est
            obligatoire</p>
        <p class="paraProblemeSaisi" *ngIf="problemeCompagnie5">L'accessoire pour la compagnie de l'intervalle 9 et 10
            est
            obligatoire</p>
        <p class="paraProblemeSaisi" *ngIf="problemeCompagnie6">L'accessoire pour la compagnie de l'intervalle 11 et 12
            est
            obligatoire</p>
        <p class="paraProblemeSaisi" *ngIf="problemeCompagnie7">L'accessoire pour la compagnie de l'intervalle 13 et 14
            est
            obligatoire</p>
        <p class="paraProblemeSaisi" *ngIf="problemeDate">La date de fin d'effet doit être supérieure ou égale à la
            date de prise d'effet</p>

        <div class="tabs">
            <input type="radio" name="tabs" id="tabone" checked="checked">
            <label for="tabone" class="lab">INFO</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Code accessoire <span class="obligatoire">*</span></label>
                            <input readonly formControlName="acces_code" type="number" nbInput fullWidth
                                id="acces_code">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Code apporteur <span class="obligatoire">*</span></label>
                            <input readonly [value]="onGetDenominationByIntermediaire(codeIntermediaire)" type="text"
                                nbInput fullWidth id="acces_codeapporteur">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">code branche <span class="obligatoire">*</span></label>
                            <input readonly [value]="onGetLibelleByBranche(codeBranche)" type="text" nbInput fullWidth
                                id="acces_codebranche">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Code catégorie <span class="obligatoire">*</span></label>
                            <input readonly [value]="onGetLibelleByCategorie(codeCategorie)" type="text" nbInput
                                fullWidth id="acces_codecategorie">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Code produit <span class="obligatoire">*</span></label>
                            <input readonly [value]="onGetLibelleByProduit(codeProduit)" type="text" nbInput fullWidth
                                id="acces_codeproduit">
                        </div>
                    </div>
                    <!-- <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Code garantie <span class="obligatoire">*</span></label>
                        <nb-select (selectedChange)="onChangeGarantie($event)" fullWidth id="comm_codegarantie">
                            <nb-option value="9999">9999</nb-option>
                            <nb-option value="19">19</nb-option>
                            <nb-option value="25">25</nb-option>
                            <nb-option value="58">58</nb-option>
                        </nb-select>
                    </div>
                </div> -->
                </div>
            </div>

            <input type="radio" name="tabs" id="tabtwo">
            <label for="tabtwo" class="lab">INT 1-2</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4" *ngIf="afficheInterv1ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 1 <span class="obligatoire">*</span></label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv1" type="number" nbInput
                                fullWidth id="acces_interv1" (focusout)="onFocusOutEventInterv12($event)"
                                [ngStyle]="{border: getColor12()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv1">
                        <div class="form-group">
                            <label class="label">intervalle 1 <span class="obligatoire">*</span></label>
                            <input min="0" maxlength="11" formControlName="acces_interv1" type="number" nbInput
                                fullWidth id="acces_interv1" (focusout)="onFocusOutEventInterv12($event)"
                                [ngStyle]="{border: getColor12()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv2ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 2 <span class="obligatoire">*</span></label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv2" type="number_format"
                                nbInput fullWidth id="acces_interv2" (focusout)="onFocusOutEventInterv12($event)"
                                [ngStyle]="{border: getColor12()}">

                            <span *ngIf="valeurMaxAtteint2" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv2">
                        <div class="form-group">
                            <label class="label">intervalle 2 <span class="obligatoire">*</span></label>
                            <input min="0" maxlength="11" formControlName="acces_interv2" type="number_format" nbInput
                                fullWidth id="acces_interv2" (focusout)="onFocusOutEventInterv12($event)"
                                [ngStyle]="{border: getColor12()}">

                            <span *ngIf="valeurMaxAtteint2" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour la Compagnie <span class="obligatoire">*</span></label>
                            <input [value]="acces_compagnie1" type="text" nbInput fullWidth id="acces_compagnie1"
                                (focusout)="onFocusOutEventCompagnie1($event)"
                                [ngStyle]="{border: getColorCompagnie1()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour l'apporteur</label>
                            <input min="0" formControlName="acces_apporteur1" type="number" nbInput fullWidth
                                id="acces_apporteur1">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabthree" [disabled]="nonAfficheInterv34">
            <label for="tabthree" class="lab">INT 3-4</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4" *ngIf="afficheInterv3ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 3</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv3" type="number" nbInput
                                fullWidth id="acces_interv3" (focusout)="onFocusOutEventInterv3($event)"
                                [ngStyle]="{border: getColorInterv3()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv3">
                        <div class="form-group">
                            <label class="label">intervalle 3</label>
                            <input min="0" maxlength="11" formControlName="acces_interv3" type="number" nbInput
                                fullWidth id="acces_interv3" (focusout)="onFocusOutEventInterv3($event)"
                                [ngStyle]="{border: getColorInterv3()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv4ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 4</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv4" type="number_format"
                                nbInput fullWidth id="acces_interv4" (focusout)="onFocusOutEventInterv34($event)"
                                [ngStyle]="{border: getColor34()}">

                            <span *ngIf="valeurMaxAtteint4" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv4">
                        <div class="form-group">
                            <label class="label">intervalle 4</label>
                            <input min="0" maxlength="11" formControlName="acces_interv4" type="number_format" nbInput
                                fullWidth id="acces_interv4" (focusout)="onFocusOutEventInterv34($event)"
                                [ngStyle]="{border: getColor34()}">

                            <span *ngIf="valeurMaxAtteint4" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour la Compagnie <span class="obligatoire">*</span></label>
                            <!-- <input min="0" formControlName="acces_compagnie2" type="number" nbInput fullWidth
                                id="acces_compagnie2" (focusout)="onFocusOutEventCompagnie2($event)"
                                [ngStyle]="{border: getColorCompagnie2()}"> -->
                            <input [value]="acces_compagnie2" type="text" nbInput fullWidth id="acces_compagnie2"
                                (focusout)="onFocusOutEventCompagnie2($event)"
                                [ngStyle]="{border: getColorCompagnie2()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour l'apporteur</label>
                            <input min="0" formControlName="acces_apporteur2" type="number" nbInput fullWidth
                                id="acces_apporteur2">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabfour" [disabled]="nonAfficheInterv56">
            <label for="tabfour" class="lab">INT 5-6</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4" *ngIf="afficheInterv5ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 5</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv5" type="number" nbInput
                                fullWidth id="acces_interv5" (focusout)="onFocusOutEventInterv5($event)"
                                [ngStyle]="{border: getColorInterv5()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv5">
                        <div class="form-group">
                            <label class="label">intervalle 5</label>
                            <input min="0" maxlength="11" formControlName="acces_interv5" type="number" nbInput
                                fullWidth id="acces_interv5" (focusout)="onFocusOutEventInterv5($event)"
                                [ngStyle]="{border: getColorInterv5()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv6ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 6</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv6" type="number_format"
                                nbInput fullWidth id="acces_interv6" (focusout)="onFocusOutEventInterv56($event)"
                                [ngStyle]="{border: getColor56()}">

                            <span *ngIf="valeurMaxAtteint6" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv6">
                        <div class="form-group">
                            <label class="label">intervalle 6</label>
                            <input min="0" maxlength="11" formControlName="acces_interv6" type="number_format" nbInput
                                fullWidth id="acces_interv6" (focusout)="onFocusOutEventInterv56($event)"
                                [ngStyle]="{border: getColor56()}">

                            <span *ngIf="valeurMaxAtteint6" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour la Compagnie <span class="obligatoire">*</span></label>
                            <!-- <input min="0" maxlength="11" formControlName="acces_compagnie3" type="number" nbInput
                                fullWidth id="acces_compagnie3" (focusout)="onFocusOutEventCompagnie3($event)"
                                [ngStyle]="{border: getColorCompagnie3()}"> -->
                            <input [value]="acces_compagnie3" type="text" nbInput fullWidth id="acces_compagnie3"
                                (focusout)="onFocusOutEventCompagnie3($event)"
                                [ngStyle]="{border: getColorCompagnie3()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour l'apporteur</label>
                            <input min="0" formControlName="acces_apporteur3" type="number" nbInput fullWidth
                                id="acces_apporteur3">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabfive" [disabled]="nonAfficheInterv78">
            <label for="tabfive" class="lab">INT 7-8</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4" *ngIf="afficheInterv7ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 7</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv7" type="number" nbInput
                                fullWidth id="acces_interv7" (focusout)="onFocusOutEventInterv7($event)"
                                [ngStyle]="{border: getColorInterv7()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv7">
                        <div class="form-group">
                            <label class="label">intervalle 7</label>
                            <input min="0" maxlength="11" formControlName="acces_interv7" type="number" nbInput
                                fullWidth id="acces_interv7" (focusout)="onFocusOutEventInterv7($event)"
                                [ngStyle]="{border: getColorInterv7()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv8ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 8</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv8" type="number_format"
                                nbInput fullWidth id="acces_interv8" (focusout)="onFocusOutEventInterv78($event)"
                                [ngStyle]="{border: getColor78()}">

                            <span *ngIf="valeurMaxAtteint8" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv8">
                        <div class="form-group">
                            <label class="label">intervalle 8</label>
                            <input min="0" maxlength="11" formControlName="acces_interv8" type="number_format" nbInput
                                fullWidth id="acces_interv8" (focusout)="onFocusOutEventInterv78($event)"
                                [ngStyle]="{border: getColor78()}">

                            <span *ngIf="valeurMaxAtteint8" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour la Compagnie <span class="obligatoire">*</span></label>
                            <!-- <input min="0" formControlName="acces_compagnie4" type="number" nbInput fullWidth
                                id="acces_compagnie4" (focusout)="onFocusOutEventCompagnie4($event)"
                                [ngStyle]="{border: getColorCompagnie4()}"> -->
                            <input [value]="acces_compagnie4" type="text" nbInput fullWidth id="acces_compagnie4"
                                (focusout)="onFocusOutEventCompagnie4($event)"
                                [ngStyle]="{border: getColorCompagnie4()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour l'apporteur</label>
                            <input min="0" formControlName="acces_apporteur4" type="number" nbInput fullWidth
                                id="acces_apporteur4">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabsixe" [disabled]="nonAfficheInterv910">
            <label for="tabsixe" class="lab">INT 9-10</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4" *ngIf="afficheInterv9ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 9</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv9" type="number" nbInput
                                fullWidth id="acces_interv9" (focusout)="onFocusOutEventInterv9($event)"
                                [ngStyle]="{border: getColorInterv9()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv9">
                        <div class="form-group">
                            <label class="label">intervalle 9</label>
                            <input min="0" maxlength="11" formControlName="acces_interv9" type="number" nbInput
                                fullWidth id="acces_interv9" (focusout)="onFocusOutEventInterv9($event)"
                                [ngStyle]="{border: getColorInterv9()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv10ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 10</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv10" type="number_format"
                                nbInput fullWidth id="acces_interv10" (focusout)="onFocusOutEventInterv910($event)"
                                [ngStyle]="{border: getColor910()}">

                            <span *ngIf="valeurMaxAtteint10" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv10">
                        <div class="form-group">
                            <label class="label">intervalle 10</label>
                            <input min="0" maxlength="11" formControlName="acces_interv10" type="number_format" nbInput
                                fullWidth id="acces_interv10" (focusout)="onFocusOutEventInterv910($event)"
                                [ngStyle]="{border: getColor910()}">

                            <span *ngIf="valeurMaxAtteint10" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour la Compagnie <span class="obligatoire">*</span></label>
                            <!-- <input min="0" formControlName="acces_compagnie5" type="number" nbInput fullWidth
                                id="acces_compagnie5" (focusout)="onFocusOutEventCompagnie5($event)"
                                [ngStyle]="{border: getColorCompagnie5()}"> -->
                            <input [value]="acces_compagnie5" type="text" nbInput fullWidth id="acces_compagnie5"
                                (focusout)="onFocusOutEventCompagnie5($event)"
                                [ngStyle]="{border: getColorCompagnie5()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour l'apporteur</label>
                            <input min="0" formControlName="acces_apporteur5" type="number" nbInput fullWidth
                                id="acces_apporteur5">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabseven" [disabled]="nonAfficheInterv1112">
            <label for="tabseven" class="lab">INT 11-12</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4" *ngIf="afficheInterv11ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 11</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv11" type="number"
                                nbInput fullWidth id="acces_interv11" (focusout)="onFocusOutEventInterv11($event)"
                                [ngStyle]="{border: getColorInterv11()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv11">
                        <div class="form-group">
                            <label class="label">intervalle 11</label>
                            <input min="0" maxlength="11" formControlName="acces_interv11" type="number" nbInput
                                fullWidth id="acces_interv11" (focusout)="onFocusOutEventInterv11($event)"
                                [ngStyle]="{border: getColorInterv11()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv12ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 12</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv12" type="number_format"
                                nbInput fullWidth id="acces_interv12" (focusout)="onFocusOutEventInterv1112($event)"
                                [ngStyle]="{border: getColor1112()}">

                            <span *ngIf="valeurMaxAtteint12" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv12">
                        <div class="form-group">
                            <label class="label">intervalle 12</label>
                            <input min="0" maxlength="11" formControlName="acces_interv12" type="number_format" nbInput
                                fullWidth id="acces_interv12" (focusout)="onFocusOutEventInterv1112($event)"
                                [ngStyle]="{border: getColor1112()}">

                            <span *ngIf="valeurMaxAtteint12" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour la Compagnie <span class="obligatoire">*</span></label>
                            <!-- <input min="0" formControlName="acces_compagnie6" type="number" nbInput fullWidth
                                id="acces_compagnie6" (focusout)="onFocusOutEventCompagnie6($event)"
                                [ngStyle]="{border: getColorCompagnie6()}"> -->
                            <input [value]="acces_compagnie6" type="text" nbInput fullWidth id="acces_compagnie6"
                                (focusout)="onFocusOutEventCompagnie6($event)"
                                [ngStyle]="{border: getColorCompagnie6()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour l'apporteur</label>
                            <input min="0" formControlName="acces_apporteur6" type="number" nbInput fullWidth
                                id="acces_apporteur6">
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <input type="radio" name="tabs" id="tabheight" [disabled]="nonAfficheInterv1314">
            <label for="tabheight" class="lab">INT 13-14</label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4" *ngIf="afficheInterv13ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 13</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv13" type="number"
                                nbInput fullWidth id="acces_interv13" (focusout)="onFocusOutEventInterv13($event)"
                                [ngStyle]="{border: getColorInterv13()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv13">
                        <div class="form-group">
                            <label class="label">intervalle 13</label>
                            <input min="0" maxlength="11" formControlName="acces_interv13" type="number" nbInput
                                fullWidth id="acces_interv13" (focusout)="onFocusOutEventInterv13($event)"
                                [ngStyle]="{border: getColorInterv13()}">
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv14ReadOnly">
                        <div class="form-group">
                            <label class="label">intervalle 14</label>
                            <input readonly min="0" maxlength="11" formControlName="acces_interv14" type="number_format"
                                nbInput fullWidth id="acces_interv14" (focusout)="onFocusOutEventInterv1314($event)"
                                [ngStyle]="{border: getColor1314()}">

                            <span *ngIf="valeurMaxAtteint14" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="afficheInterv14">
                        <div class="form-group">
                            <label class="label">intervalle 14</label>
                            <input min="0" maxlength="11" formControlName="acces_interv14" type="number_format" nbInput
                                fullWidth id="acces_interv14" (focusout)="onFocusOutEventInterv1314($event)"
                                [ngStyle]="{border: getColor1314()}">

                            <span *ngIf="valeurMaxAtteint14" style="color:green;">Vous avez atteint le nombre max,
                                voulez-vous valider ?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour la Compagnie <span class="obligatoire">*</span></label>
                            <!-- <input min="0" formControlName="acces_compagnie7" type="number" nbInput fullWidth
                                id="acces_compagnie7" (focusout)="onFocusOutEventCompagnie7($event)"
                                [ngStyle]="{border: getColorCompagnie7()}"> -->
                            <input [value]="acces_compagnie7" type="text" nbInput fullWidth id="acces_compagnie7"
                                (focusout)="onFocusOutEventCompagnie7($event)"
                                [ngStyle]="{border: getColorCompagnie7()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Accessoire pour l'apporteur</label>
                            <input min="0" formControlName="acces_apporteur7" type="number" nbInput fullWidth
                                id="acces_apporteur7">
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tabnine">
            <label for="tabnine" class="lab">DATE </label>
            <div class="tab">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Date de prise d'effet <span class="obligatoire">*</span></label>
                            <input formControlName="acces_datepriseffet" type="datetime-local" nbInput fullWidth
                                id="acces_datepriseffet" (focusout)="onFocusOutEventDate($event)"
                                [ngStyle]="{border: getColorDate()}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Date fin effet <span class="obligatoire">*</span></label>
                            <input formControlName="acces_datefineffet" type="datetime-local" nbInput fullWidth
                                id="acces_datefineffet" (focusout)="onFocusOutEventDate($event)"
                                [ngStyle]="{border: getColorDate()}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <nb-card-footer>
            <button nbButton status="success" (click)="onSubmit()"
                [disabled]='!modifForm.valid || erreur'>Modifier</button>
            &nbsp;&nbsp;<button class="cancel" nbButton status="danger" (click)="onCancel()">Annuler</button>
        </nb-card-footer>
    </form>
</div>
<div *ngIf="check_fonct('u_accessoire')==false">
    <ngx-page-not-autoriser></ngx-page-not-autoriser>
</div>